docs/event-models/01-lobby-event-model.png filter=lfs diff=lfs merge=lfs -text
docs/event-models/02-word-bank-event-model.png filter=lfs diff=lfs merge=lfs -text
docs/event-models/03-game-loop-event-model.png filter=lfs diff=lfs merge=lfs -text
